.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    background: linear-gradient(135deg, #3a007d, #d639cd);
    
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form input {
    display: block;
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    background-color: #3a007d;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .login-form h2 {
    text-align: center;
  }
  .login-container {
    padding: 20px;
}

.login-container h1 {
    color: #333;
}
